@import './normalize.scss';

body {
  font-size: 16px;
  font-family: $font-family-default-latin;
}

#app-root {
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  min-height: 100vh;

  display: flex;
}
