.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;

  color: $color-text-default;
  font-size: $size-300;
}

.terms {
  font-size: $size-100;
  color: $color-text-subtle;
}
