@mixin icon-sizes {
  @each $name, $size in $sizes-map {
    ._#{$name} {
      min-width: $size;
      min-height: $size;
    }
  }
}

@include icon-sizes;

.light {
  fill: $color-text-light;
}

.dark {
  fill: $color-text-dark;
}

.red {
  fill: $color-red-pushpin-400;
}
