.bg {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;

  overflow-y: hidden;
  overflow-x: auto;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 10;

  background-color: $color-background-wash-dark;
}

.wrapper {
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: #fff;
}

.head {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 500px) {
  .wrapper {
    width: 100vw;
    height: 100vh;
  }
}
