.wrapper {
  width: 100%;
  padding: $size-800 $size-50;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: $size-100;

  & > a {
    color: $color-text-light;
    font-size: $size-200;
    font-weight: $font-weight-bold;
  }
}
