.wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: $color-gray-roboflow-300;
}

.completed {
  width: 0.6rem;
  height: 0.6rem;
  background-color: $color-background-inverse-base;
}
