.field {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 0.5rem;

  border-radius: 0.8rem;
  border: 2px solid $color-border-default;

  &:focus-within {
    outline: 4px solid $color-blue-skycicle-300;
  }
}

.input {
  display: flex;
  border-radius: 0.8rem;
  font-size: $size-400;
  width: 100%;
  border: none;
  &:focus-within {
    outline: none;
  }

  &::placeholder {
    font-size: $size-300;
    color: $color-text-subtle;
  }
}

.feedback {
  &-invalid {
    &__errors {
      font-size: $size-100;
      color: $color-text-error;
    }

    &__input {
      border-color: $color-border-error;
    }
  }

  &-valid {
    &__input {
      border-color: $color-border-success;
    }
  }
}

.passwordHide {
  cursor: pointer;
  height: 100%;
  width: 1rem;
  fill: $color-gray-roboflow-400;
}
