.wrapper {
  height: 90vh;
  @include scrollable;

  padding: $size-700 $size-50;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: $space-400;

  color: $color-text-light;
  font-size: $size-200;
}

.btns-container {
  display: flex;
  flex-direction: column;
  gap: $size-50;
  width: 16rem;
}

.links-container {
  display: flex;
  flex-direction: column;
  gap: $size-100;
}

.btn {
  font-weight: 700;
  color: $color-text-light;

  padding: 0.25rem 0.5rem;

  &__email {
    width: 100%;
    height: 2.5rem;
    background-color: $color-red-pushpin-400;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
  }
}

.terms {
  font-size: $size-100;
}

@media screen and (min-height: 600px) {
  .wrapper {
    justify-content: center;
  }
}
