.btn {
  width: 100%;
  font-weight: 700;
  color: $color-text-light;

  padding: 0.25rem 0.5rem;

  &__fb {
    background-color: $color-blue-skycicle-500;
    fill: $color-text-light;
  }

  &__g {
    background-color: $color-text-light;
    color: $color-text-default;
    border: 1px solid $color-gray-roboflow-300;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
  }
}
