$color-black-cosmicore-900: #111;
$color-gray-roboflow-800: #191919;
$color-gray-roboflow-700: #2b2b2b;
$color-gray-roboflow-600: #4a4a4a;
$color-gray-roboflow-500: #767676;
$color-gray-roboflow-400: #a5a5a5;
$color-gray-roboflow-300: #cdcdcd;
$color-gray-roboflow-200: #e9e9e9;
$color-gray-roboflow-100: #f1f1f1;
$color-gray-roboflow-50: #f9f9f9;
$color-white-mochimalist-0: #fff;
$color-yellow-caramellow-900: #662400;
$color-yellow-caramellow-800: #7c2d00;
$color-yellow-caramellow-700: #943a00;
$color-yellow-caramellow-600: #aa4900;
$color-yellow-caramellow-500: #bd5b00;
$color-yellow-caramellow-450: #d86800;
$color-yellow-caramellow-400: #e18d00;
$color-yellow-caramellow-300: #fdc900;
$color-yellow-caramellow-200: #fae600;
$color-yellow-caramellow-100: #fffd92;
$color-yellow-caramellow-50: #fffebb;
$color-yellow-caramellow-0: #fffedb;
$color-orange-firetini-900: #660e00;
$color-orange-firetini-800: #842000;
$color-orange-firetini-700: #a42700;
$color-orange-firetini-600: #c32f00;
$color-orange-firetini-500: #de3700;
$color-orange-firetini-450: #ff5b45;
$color-orange-firetini-400: #f77a38;
$color-orange-firetini-300: #fda161;
$color-orange-firetini-200: #ffc58f;
$color-orange-firetini-100: #ffe4c1;
$color-orange-firetini-50: #fff0db;
$color-orange-firetini-0: #fff6eb;
$color-purple-mysticool-900: #2c0066;
$color-purple-mysticool-800: #400387;
$color-purple-mysticool-700: #550aa9;
$color-purple-mysticool-600: #6b16ca;
$color-purple-mysticool-500: #812ae7;
$color-purple-mysticool-450: #8a39fa;
$color-purple-mysticool-400: #9e68ff;
$color-purple-mysticool-300: #b190ff;
$color-purple-mysticool-200: #d5c7ff;
$color-purple-mysticool-100: #e9e4ff;
$color-purple-mysticool-50: #f0edff;
$color-purple-mysticool-0: #f8f7ff;
$color-green-matchacado-900: #00261a;
$color-green-matchacado-800: #003020;
$color-green-matchacado-700: #00422c;
$color-green-matchacado-600: #005f3e;
$color-green-matchacado-500: #008753;
$color-green-matchacado-450: #1dad65;
$color-green-matchacado-400: #39d377;
$color-green-matchacado-300: #6bec8c;
$color-green-matchacado-200: #a4f9ac;
$color-green-matchacado-100: #c3f9c2;
$color-green-matchacado-50: #e3fae1;
$color-green-matchacado-0: #f6fdf5;
$color-teal-spabattical-900: #003440;
$color-teal-spabattical-800: #005062;
$color-teal-spabattical-700: #005c62;
$color-teal-spabattical-600: #006b6c;
$color-teal-spabattical-500: #00857c;
$color-teal-spabattical-450: #009990;
$color-teal-spabattical-400: #26c0b4;
$color-teal-spabattical-300: #48d5c6;
$color-teal-spabattical-200: #75e4d5;
$color-teal-spabattical-100: #ccf6ee;
$color-teal-spabattical-50: #e6faf5;
$color-teal-spabattical-0: #f7fdfc;
$color-blue-skycicle-900: #002966;
$color-blue-skycicle-800: #003c96;
$color-blue-skycicle-700: #004ba9;
$color-blue-skycicle-600: #005fcb;
$color-blue-skycicle-500: #0074e8;
$color-blue-skycicle-450: #007cff;
$color-blue-skycicle-400: #45a3fe;
$color-blue-skycicle-300: #75bfff;
$color-blue-skycicle-200: #abdbff;
$color-blue-skycicle-100: #d7edff;
$color-blue-skycicle-50: #e6f4ff;
$color-blue-skycicle-0: #f7fbff;
$color-pink-flaminglow-900: #630233;
$color-pink-flaminglow-800: #82053e;
$color-pink-flaminglow-700: #a30c4a;
$color-pink-flaminglow-600: #c31952;
$color-pink-flaminglow-500: #de2c62;
$color-pink-flaminglow-450: #ee376a;
$color-pink-flaminglow-400: #f76593;
$color-pink-flaminglow-300: #fe8eb1;
$color-pink-flaminglow-200: #ffbed2;
$color-pink-flaminglow-100: #ffdfe9;
$color-pink-flaminglow-50: #ffebf1;
$color-pink-flaminglow-0: #fff8fa;
$color-red-pushpin-900: #600;
$color-red-pushpin-800: maroon;
$color-red-pushpin-700: #9b0000;
$color-red-pushpin-600: #b60000;
$color-red-pushpin-500: #c00;
$color-red-pushpin-450: #e60023;
$color-red-pushpin-400: #eb4242;
$color-red-pushpin-300: #f47171;
$color-red-pushpin-200: #fcbbbb;
$color-red-pushpin-100: #ffe0e0;
$color-red-pushpin-50: #ffebeb;
$color-red-pushpin-0: #fff7f7;
$color-background-elevation-raised: transparent;
$color-background-elevation-floating: transparent;
$color-background-wash-light: hsla(0, 0%, 100%, 0.9);
$color-background-wash-dark: rgba(0, 0, 0, 0.8);
$color-border-error: $color-red-pushpin-500;
$color-border-success: $color-green-matchacado-400;
$color-border-default: $color-gray-roboflow-500;
$color-border-container: $color-gray-roboflow-300;
$color-background-elevation-accent: $color-gray-roboflow-100;
$color-background-education: $color-blue-skycicle-500;
$color-background-brand: $color-red-pushpin-450;
$color-background-inverse-strong: $color-gray-roboflow-200;
$color-background-inverse-base: $color-black-cosmicore-900;
$color-background-selected-strong: $color-gray-roboflow-400;
$color-background-selected-weak: $color-gray-roboflow-700;
$color-background-selected-base: $color-black-cosmicore-900;
$color-background-tertiary-weak: $color-gray-roboflow-300;
$color-background-tertiary-strong: $color-gray-roboflow-700;
$color-background-tertiary-base: $color-gray-roboflow-500;
$color-background-secondary-weak: $color-gray-roboflow-300;
$color-background-secondary-strong: $color-gray-roboflow-400;
$color-background-secondary-base: $color-gray-roboflow-200;
$color-background-primary-weak: $color-red-pushpin-300;
$color-background-primary-strong: $color-red-pushpin-600;
$color-background-primary-base: $color-red-pushpin-450;
$color-background-shopping: $color-blue-skycicle-500;
$color-background-success-weak: $color-green-matchacado-50;
$color-background-success-base: $color-green-matchacado-500;
$color-background-warning-weak: $color-orange-firetini-50;
$color-background-warning-base: $color-yellow-caramellow-500;
$color-background-error-weak: $color-red-pushpin-50;
$color-background-error-base: $color-red-pushpin-500;
$color-background-info-weak: $color-blue-skycicle-50;
$color-background-info-base: $color-blue-skycicle-500;
$color-background-default: $color-white-mochimalist-0;
$color-text-icon-dark: $color-black-cosmicore-900;
$color-text-icon-light: $color-white-mochimalist-0;
$color-text-icon-shopping: $color-blue-skycicle-500;
$color-text-icon-inverse: $color-white-mochimalist-0;
$color-text-icon-warning: $color-yellow-caramellow-500;
$color-text-icon-error: $color-red-pushpin-500;
$color-text-icon-success: $color-green-matchacado-600;
$color-text-icon-subtle: $color-gray-roboflow-500;
$color-text-icon-default: $color-black-cosmicore-900;
$color-text-link: $color-blue-skycicle-400;
$color-text-shopping: $color-blue-skycicle-500;
$color-text-light: $color-white-mochimalist-0;
$color-text-dark: $color-black-cosmicore-900;
$color-text-inverse: $color-white-mochimalist-0;
$color-text-warning: $color-yellow-caramellow-500;
$color-text-error: $color-red-pushpin-500;
$color-text-success: $color-green-matchacado-600;
$color-text-subtle: $color-gray-roboflow-500;
$color-text-default: $color-black-cosmicore-900;
