$size-800: 3rem;
$size-700: 2.25rem;
$size-600: 1.625rem;
$size-500: 1.75rem;
$size-400: 1.25rem;
$size-300: 1rem;
$size-200: 0.875rem;
$size-100: 0.75rem;
$size-50: 0.625rem;

$round-xl: 24px;
$space-negative-600: -64px;
$space-negative-500: -32px;
$space-negative-400: -24px;
$space-negative-300: -16px;
$space-negative-200: -8px;
$space-negative-100: -4px;
$space-600: 64px;
$space-500: 32px;
$space-400: 24px;
$space-300: 16px;
$space-200: 12px;
$space-100: 8px;
$space-50: 4px;
$space-0: 0;
$font-family-code: SFMono-Medium, 'SF Mono', 'Segoe UI Mono', 'Roboto Mono',
  'Ubuntu Mono', Menlo, Consolas, Courier, monospace;
$font-family-default-japanese: 'SF Pro JP', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro',
  'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-default-latin: -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro',
  'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-normal: 400;

$elevation-raised-bottom: 0 -2px 8px rgba(0, 0, 0, 0.12);
$elevation-raised-top: 0 2px 8px rgba(0, 0, 0, 0.12);
$elevation-floating: 0 0 8px rgba(0, 0, 0, 0.1);

$sizes-map: (
  '2xs': $size-50,
  'xs': $size-100,
  'sm': $size-200,
  'md': $size-300,
  'lg': $size-400,
  'xl': $size-500,
  '2xl': $size-600,
  '3xl': $size-700,
  '4xl': $size-800,
);
