.heading {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.light {
  color: $color-text-light;
}

.dark {
  color: $color-text-dark;
}

@mixin font-sizes {
  @each $name, $size in $sizes-map {
    ._#{$name} {
      font-size: $size;
    }
  }
}

@include font-sizes;
