.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $size-50;
}

.card {
  height: 100%;
  min-height: 100vh;
  border-radius: $size-800;
  background-color: $color-yellow-caramellow-300;

  padding: $size-100 $size-400;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-weight: $font-weight-bold;
}
