.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.name {
  &--invalid {
    color: $color-text-error;
    text-decoration: underline;
  }
}

.btn {
  padding: 0.5rem;
  fill: $color-text-default;
  &:hover {
    background-color: rgba($color-gray-roboflow-50, 0.2);
  }

  &--valid {
    fill: $color-border-success;
  }
}
