.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.6rem;
  padding: 0.25rem 0.5rem;

  cursor: pointer;
  color: #000;
  border-radius: $round-xl;

  font-size: $size-300;
  line-height: 100%;

  border: none;
  background-color: transparent;

  & > p {
    width: 100%;
    white-space: nowrap;
  }

  filter: brightness(100%);
  transition: filter 200ms ease-in;

  &:hover {
    filter: brightness(70%);
  }

  &:disabled {
    cursor: default;
    filter: grayscale(90%);
  }
}
