.btn {
  height: 2.5rem;
  background-color: $color-red-pushpin-400;
  color: $color-text-light;
  font-weight: $font-weight-bold;

  margin-top: 2rem;
}

.info {
  margin-bottom: 2rem;
}

.head {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;

  &--edit {
    align-items: flex-start;
    flex-direction: column;
  }
}
